<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Produtos</h1>

    <p>Listagem de produtos:</p>


    <p><a href="{% url 'cadastrar_produtos' %}">Cadastrar</a></p>
    
    <p>Listagem de produtos:</p>

    {% for produtos in todos_produtos %}
    <p>Nome: {{produtos.nome}}</p>
    <p>Marca: {{produtos.marca}}</p>
    <p>Quantidade: {{produtos.quantidade}}</p>
    <p>Descrição: {{produtos.descricao}}</p>
    {% empty %}
    <p>Não existem produtos cadastrados</p>
    {% endfor %}

</body>
</html>


