<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Unidades</h1>

    <p><a href="{% url 'cadastrar_unidades' %}">Cadastrar</a></p>

    <p>Listagem de unidades:</p>

    {% for unidade in todos_funcionarios %}
    <p>
        Cidade: {{unidade.cidade}}
        Endereço: {{unidade.endereco}}
        Número de funcionários: {{unidade.numero_funcionarios}}
        | <a href="{% url 'editar_unidades' unidades.id %}">EDITAR</a>
        | <a href="{% url 'remover_unidades' funcionarios.id %}">REMOVER</a>
    </p>    
    {% empty %}
    <p>Não existem unidades cadastradas</p>
    {% endfor %}
  
  
</body>
</html>
